.boxcenter {
    width: 70%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 38px;
}
.demo{
    background-color: antiquewhite;
    min-height: 10px;
}
.header{
    background-color: aquamarine;
    border: 1px #009000 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
}
.header h1{
    margin: 10px 20px;
}.header{
    background-color: black;
    color: blue;
    border-radius: 5px;
}